.exam-form {
    padding: 20px;
    background-color: #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.exam-desc {
    padding: 20px;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height:0px;
	padding-bottom:30% 
}

.exam-alert {
    padding: 10px;
    background-color: #222;
    color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.exam-info {

    padding: 10px;
    background-color: #ccc;
    color: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.exam-notify {
	margin-right:50px;
	margin-left:50px;
    color: red;
	position: fixed;
	bottom: 10px
}


.container{
	display:table;
}

.row{
	display: table-cell;
	vertical-align: middle;
}

.vertical-center{
	position: absolute;
	top: 800px;
	left: 800px;
	transform: translate(-50%,-50%);
}