<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="henu.exam.mapper.TbStudentMapper" >
  <resultMap id="BaseResultMap" type="henu.exam.pojo.TbStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="clazz" property="clazz" jdbcType="VARCHAR" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="is_login" property="isLogin" jdbcType="VARCHAR" />
    <result column="ipbinding" property="ipbinding" jdbcType="VARCHAR" />
    <result column="is_submit" property="isSubmit" jdbcType="VARCHAR" />
    <result column="submittime" property="submittime" jdbcType="TIMESTAMP" />
    <result column="submit_url" property="submitUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sid, NAME, clazz, eid, ip, is_login, ipbinding, is_submit, submittime, submit_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="henu.exam.pojo.TbStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="henu.exam.pojo.TbStudentExample" >
    delete from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="henu.exam.pojo.TbStudent" >
    insert into tb_student (id, sid, NAME, 
      clazz, eid, ip, is_login, 
      ipbinding, is_submit, submittime, 
      submit_url)
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{clazz,jdbcType=VARCHAR}, #{eid,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{isLogin,jdbcType=VARCHAR}, 
      #{ipbinding,jdbcType=VARCHAR}, #{isSubmit,jdbcType=VARCHAR}, #{submittime,jdbcType=TIMESTAMP}, 
      #{submitUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="henu.exam.pojo.TbStudent" >
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="clazz != null" >
        clazz,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="isLogin != null" >
        is_login,
      </if>
      <if test="ipbinding != null" >
        ipbinding,
      </if>
      <if test="isSubmit != null" >
        is_submit,
      </if>
      <if test="submittime != null" >
        submittime,
      </if>
      <if test="submitUrl != null" >
        submit_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null" >
        #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null" >
        #{isLogin,jdbcType=VARCHAR},
      </if>
      <if test="ipbinding != null" >
        #{ipbinding,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null" >
        #{isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitUrl != null" >
        #{submitUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="henu.exam.pojo.TbStudentExample" resultType="java.lang.Integer" >
    select count(*) from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.clazz != null" >
        clazz = #{record.clazz,jdbcType=VARCHAR},
      </if>
      <if test="record.eid != null" >
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.isLogin != null" >
        is_login = #{record.isLogin,jdbcType=VARCHAR},
      </if>
      <if test="record.ipbinding != null" >
        ipbinding = #{record.ipbinding,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubmit != null" >
        is_submit = #{record.isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="record.submittime != null" >
        submittime = #{record.submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitUrl != null" >
        submit_url = #{record.submitUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_student
    set id = #{record.id,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      clazz = #{record.clazz,jdbcType=VARCHAR},
      eid = #{record.eid,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      is_login = #{record.isLogin,jdbcType=VARCHAR},
      ipbinding = #{record.ipbinding,jdbcType=VARCHAR},
      is_submit = #{record.isSubmit,jdbcType=VARCHAR},
      submittime = #{record.submittime,jdbcType=TIMESTAMP},
      submit_url = #{record.submitUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="henu.exam.pojo.TbStudent" >
    update tb_student
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null" >
        clazz = #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null" >
        is_login = #{isLogin,jdbcType=VARCHAR},
      </if>
      <if test="ipbinding != null" >
        ipbinding = #{ipbinding,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null" >
        is_submit = #{isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        submittime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitUrl != null" >
        submit_url = #{submitUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="henu.exam.pojo.TbStudent" >
    update tb_student
    set sid = #{sid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      clazz = #{clazz,jdbcType=VARCHAR},
      eid = #{eid,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      is_login = #{isLogin,jdbcType=VARCHAR},
      ipbinding = #{ipbinding,jdbcType=VARCHAR},
      is_submit = #{isSubmit,jdbcType=VARCHAR},
      submittime = #{submittime,jdbcType=TIMESTAMP},
      submit_url = #{submitUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>